<h1>New <span style="color: rgb(25, 164, 239);">Twitter</span> Page</h1>
<% if @tweet.errors.any? %>
  <h3>The following errors prevented the tweet from being saved:</h3>
  <ul>
    <% @tweet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: @tweet, local: true do |f| %>
  <p>
    <h3><%= f.label :description %></h3>
    <%= f.text_field :description %>
  </p>
  <p>
  <%= f.submit "Create Tweet" %>
</p>
 
<% end %>
